body{
    background-image: url(https://preview.redd.it/d2hd73xxwvaa1.jpg?auto=webp&s=fe4403b88c4236ac2f8042fc38c13aef10d6d5c3);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

fieldset{
    transform: translate(310%, 170%);
    width: 230px;
    border: solid rgb(0, 0, 0);
}




    
